@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.text-orangee {
  color: #ffa500;
  /* or your desired color */
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: #171717e8;
}

::-webkit-scrollbar-thumb {
  background-color: #fe9a609b;
  border-radius: 1rem;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fe9b60;
}
















.ButtonL {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #444638;
  font-size: 13px;
  position: relative;
  border-radius: 80em;
  background-color: #171717;
  border: 0.125rem solid #171717;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  will-change: transform;
  padding: 3px 15px;
  display: inline-block;
  margin-top: clamp(1px, 5.3333333333vw, 10.96px);
}

@media screen and (min-width: 768px) {
  .ButtonL {
    padding: 10px 50px;
    font-size: 20px;

  }
}

.ButtonL:hover {
  background-color: #fe9b60;
  border-color: #fe9b60;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  transform: scale(1.07);
  will-change: transform;
  color: #11190c;
}

.ButtonL:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%) rotate(10deg);
  transform-origin: top left;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  will-change: transform;
  z-index: -1;
  border-radius: 80em;
  background-color: #fe9b60;
}

.ButtonL:hover:after {
  transform: translate(0);
  z-index: 0;
}

.ButtonL>* {
  position: relative;
  z-index: 1;
}

.Button__inner {
  color: #fe9b60;
}

.ButtonL:hover .Button__inner {
  color: #11190c;
}



























.buttonA {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.25em;
}

.Button {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #444638;
  font-size: 13px;
  position: relative;
  border-radius: 80em;
  background-color: #11190c;
  border: 0.125rem solid #11190c;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  will-change: transform;
  padding: 3px 15px;
  display: inline-block;
  margin-top: clamp(1px, 5.3333333333vw, 10.96px);
}

@media screen and (min-width: 768px) {
  .Button {
    padding: 10px 50px;
    font-size: 20px;

  }
}

.Button:hover {
  background-color: #fe9b60;
  border-color: #fe9b60;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  transform: scale(1.07);
  will-change: transform;
  color: #11190c;
}

.Button:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%) rotate(10deg);
  transform-origin: top left;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  will-change: transform;
  z-index: -1;
  border-radius: 80em;
  background-color: #fe9b60;
}

.Button:hover:after {
  transform: translate(0);
  z-index: 0;
}

.Button>* {
  position: relative;
  z-index: 1;
}

.Button__inner {
  color: #fe9b60;
}

.Button:hover .Button__inner {
  color: #11190c;
}